<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact - Aahar Food</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/resource/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/resource/images/icon.png}">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resource/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/resource/style.css}">

    <!-- Cusom css -->
    <link rel="stylesheet" th:href="@{/resource/css/custom.css}">

    <!-- Toastr css -->
    <link rel="stylesheet" th:href="@{/resource/css/toastr.css}">

    <!-- Modernizer js -->
    <script th:src="@{/resource/js/vendor/modernizr-3.5.0.min.js}"></script>
</head>
<body onload="loadMap()">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->

<!-- <div class="fakeloader"></div> -->

<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Start Header Area -->
    <th:block th:replace="/template/header"></th:block>
    <!-- End Header Area -->
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-white">Manage Foods</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item text-white" href="index.html">Home</a>
                                <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right text-white"></i></span>
                                <span class="breadcrumb-item active text-white">Contact</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Contact Map -->
    <div id="map_container"></div>
    <!-- End Contact Map -->
    <!-- Start Address -->
    <div class="food__contact">
        <div class="food__contact__wrapper d-flex flex-wrap flex-lg-nowrap">
            <!-- Start Single Contact -->
            <div class="contact">
                <div class="ct__icon">
                    <i class="zmdi zmdi-phone"></i>
                </div>
                <div class="ct__address">
                    <p><a href="#">+088 01673-453290</a></p>
                    <p><a href="#">+088 01773-458290</a></p>
                </div>
            </div>
            <!-- End Single Contact -->
            <!-- Start Single Contact -->
            <div class="contact">
                <div class="ct__icon">
                    <i class="zmdi zmdi-home"></i>
                </div>
                <div class="ct__address">
                    <p>Elizabeth Tower. 6th Floor <br> Medtown, New York</p>
                </div>
            </div>
            <!-- End Single Contact -->
            <!-- Start Single Contact -->
            <div class="contact">
                <div class="ct__icon">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="ct__address">
                    <p><a href="#">delivery@e-mail.com</a></p>
                    <p><a href="#">Aahar@e-mail.com</a></p>
                </div>
            </div>
            <!-- End Single Contact -->
        </div>
    </div>
    <!-- End Address -->
    <section class="food__contact__form bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__wrap">
                        <h2>Get In Touch With Aahar</h2>
                        <div class="contact__form__inner">
                            <form id="contact-form">
                                <div class="single-contact-form">
                                    <div class="contact-box name d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                        <input type="text" id="name" name="name" placeholder="Your Name">
                                        <input type="email" id="email" name="email" placeholder="E-mail">
                                        <input type="text" id="phone" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="single-contact-form">
                                    <div class="contact-box message">
                                        <textarea id="message" name="message"  placeholder="Message*"></textarea>
                                    </div>
                                </div>
                                <div class="contact-btn">
                                    <button type="button" class="food__btn" onclick="sendEmail()">submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="form-output">
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Footer Area -->
    <th:block th:replace="/template/footer"></th:block>
    <!-- End Footer Area -->
</div><!-- //Main wrapper -->

<!-- JS Files -->
<script th:src="@{/resource/js/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{/resource/js/popper.min.js}"></script>
<script th:src="@{/resource/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/js/plugins.js}"></script>

<!-- Google Map js -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script th:src="@{/resource/js/active.js}"></script>
<script th:src="@{/resource/js/toastr.js}"></script>
<script th:src="@{/resource/jscode.js}"></script>
</body>
</html>
