<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Food Details - Aahar Food </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/resource/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/resource/images/icon.png}">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resource/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/resource/style.css}">

    <!-- Cusom css -->
    <link rel="stylesheet" th:href="@{/resource/css/custom.css}">

    <!-- Toastr css -->
    <link rel="stylesheet" th:href="@{/resource/css/toastr.css}">

    <!-- Modernizer js -->
    <script th:src="@{/resource/js/vendor/modernizr-3.5.0.min.js}"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->

<!-- <div class="fakeloader"></div> -->

<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Start Header Area -->
    <th:block th:replace="/template/header"></th:block>
    <!-- End Header Area -->
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-white">Food Detail</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item text-white" href="index.html">Home</a>
                                <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right text-white"></i></span>
                                <span class="breadcrumb-item active text-white">Choose Food</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Blog List View Area -->
    <section class="blog__list__view section-padding--lg menudetails-right-sidebar bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="food__menu__container">
                        <div class="food__menu__inner d-flex flex-wrap flex-md-nowrap flex-lg-nowrap">
                            <div class="food__menu__thumb">
                                <img class="thumb-img" th:src="${food.image}" alt="images">
                            </div>
                            <div class="food__menu__details">
                                <div class="food__menu__content">
                                    <h2 th:text="${food.name}"></h2>
                                    <ul class="food__dtl__prize d-flex">
                                        <li th:text="'$' + ${food.price}"></li>
                                    </ul>
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <p th:text="${food.summary}"></p>
                                    <div class="product-action-wrap">
                                        <div class="prodict-statas">
                                            <span th:text="'Food Type : ' + ${food.category}"></span>
                                        </div>
                                        <div class="product-quantity">
                                            <form id='myform' method='POST' action='#'>
                                                <div class="product-quantity">
                                                    <div class="cart-plus-minus">
                                                        <input id="qty-food" class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                        <div class="add__to__cart__btn c-pointer">
                                                            <a class="food__btn" th:onclick="'addToCart(' + ${food.id} + ')'">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Start Product Descrive Area -->
                        <div class="menu__descrive__area">
                            <div class="menu__nav nav nav-tabs" role="tablist">
                                <a class="active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab">Description</a>
                            </div>
                            <!-- Start Tab Content -->
                            <div class="menu__tab__content tab-content" id="nav-tabContent">
                                <!-- Start Single Content -->
                                <div class="single__dec__content fade show active" id="nav-all" role="tabpanel">
                                    <p th:text="${food.description}"></p>
                                </div>
                                <!-- End Single Content -->
                            </div>
                            <!-- End Tab Content -->
                        </div>
                        <!-- End Product Descrive Area -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="popupal__menu">
                                <h4>Popular Menu</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row mt--30">
                        <th:block th:each="f : ${popularFoods}">
                            <!-- Start Single Product -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="beef_product">
                                    <div class="beef__thumb">
                                        <a th:href="@{/detail/__${f.id}__}">
                                            <img height="180px" th:src="${f.image}" alt="beef images">
                                        </a>
                                    </div>
                                    <div class="beef__hover__info">
                                        <div class="beef__hover__inner">
                                            <span>Special</span>
                                            <span>offer</span>
                                        </div>
                                    </div>
                                    <div class="beef__details">
                                        <h4><a href="menu-details.html" th:text="${f.name}"></a></h4>
                                        <ul class="beef__prize">
                                            <li th:text="'$' + ${f.price}"></li>
                                        </ul>
                                        <div class="beef__cart__btn">
                                            <a th:href="@{/detail/__${f.id}__}">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </th:block>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 md--mt--40 sm--mt--40">
                    <div class="food__sidebar">
                        <!-- Start Search Area -->
                        <div class="food__search">
                            <h4 class="side__title">Search</h4>
                            <div class="serch__box">
                                <input type="text" placeholder="Search keyword">
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <!-- End Search Area -->
                        <!-- Start Category Area -->
                        <div class="food__category__area mt--60">
                            <h4 class="side__title">Categories</h4>
                            <ul class="food__category">
                                <li><a href="/list/breakfast">Breakfast</a></li>
                                <li><a href="/list/lunch">Lunch</a></li>
                                <li><a href="/list/dinner">Dinner</a></li>
                                <li><a href="/list/coffee">Coffee</a></li>
                                <li><a href="/list/snacks">Snacks</a></li>
                            </ul>
                        </div>
                        <!-- End Category Area -->
                        <!-- Start Sidebar Contact -->
                        <div class="sidebar__contact mt--60">
                            <div class="sidebar__thumb">
                                <img th:src="@{/resource/images/blog/sidebar/2.jpg}" alt="sidebar images">
                            </div>
                            <div class="sidebar__details">
                                <h4>colorful</h4>
                                <h2>donut’s</h2>
                                <span>get it till the stock full</span>
                            </div>
                            <div class="sidebar__con__btn">
                                <a href="#">Contact Now<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <!-- End Sidebar Contact -->
                        <!-- Start Sidebar Newsletter -->
                        <div class="sidebar__newsletter mt--60">
                            <h4 class="side__title">Newsletter</h4>
                            <div class="sidebar__inbox">
                                <input type="text" placeholder="Enter your E-mail">
                                <a href="#"><i class="fa fa-paper-plane"></i></a>
                            </div>
                        </div>
                        <!-- End Sidebar Newsletter -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog List View Area -->
    <!-- Start Footer Area -->
    <th:block th:replace="/template/footer"></th:block>
    <!-- End Footer Area -->
</div><!-- //Main wrapper -->

<!-- JS Files -->
<script th:src="@{/resource/js/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{/resource/js/popper.min.js}"></script>
<script th:src="@{/resource/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/js/plugins.js}"></script>
<script th:src="@{/resource/js/active.js}"></script>
<script th:src="@{/resource/js/toastr.js}"></script>
<script th:src="@{/resource/jscode.js}"></script>
</body>
</html>
